[Unit]
Description=PiDash App
After=network-online.target
Wants=network-online.target

[Service]
User=root
RuntimeDirectory=pidash
WorkingDirectory=/run/pidash
ExecStart=/usr/local/bin/pidash -d
Restart=on-failure
RestartSec=15
KillSignal=SIGINT
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
